

# Python virtual environments
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python bytecode
__pycache__/
*.pyc

# Environment variables file
.env

# IDE/editor directories
.idea/
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db